.header__lang-link {
    margin-right: 18px;
    padding: 0;
    font-weight: 400;
    list-style: none;
}

.header__lang-link:last-child {
    margin-right: 0;
}

.header__lang-link:hover {
    opacity: 0.3;
}

