.place__title {
font-size: 73px;
line-height: 75px;
font-weight: 900;
color: white;
margin: 0;
text-align: left;
}

.place__title:nth-child(4) {
    min-width: 340px;
}


@media (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 80%;
    }
}

@media (max-width: 425px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}