.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 105px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 720px;
}

@media screen and (max-width: 1024px) {
    .lead__title {
      max-width: 720px;
      margin-bottom: 22px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .lead__title {
      max-width: 720px;
      margin: 0 16px 16px 16px;
      font-size: 40px;
      line-height: 44px;
    }
  }