.footer__copyright {
    color: white;
    display: block;
}

@media screen and (max-width:767px) {
    .footer__copyright {
        padding-left: 16px;
        align-self: flex-end;
        margin-left: -193px;
        margin-top: 48px;
        font-size: 14px;
        line-height: 14px;
    }
}