.footer__copyright {
    color: white;
    margin: 0;
}



@media screen and (max-width: 1024px) {
    .footer__copyright {
        font-size: 14px;
        align-self: flex-start;
    }
}


@media screen and (max-width: 767px) {
    .footer__copyright {
        padding-left: 16px;
        align-self: flex-end;
        font-size: 14px;
        line-height: 14px;
    }
}
