.footer {
    max-width: 1184px;
    align-items: center;
    margin: 92px auto 24px auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width:1279px) {
    .footer {
        width: 928px;
    }
}

@media screen and (max-width:1023px) {
    .footer {
        width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width:767px) {
.footer {
    margin-top: 64px;
    margin-left: 0;
    width: fit-content;
    align-items: flex-start;
    flex-direction: column;
}
}